<!DOCTYPE html>
<html lang="nl">
    
<head>
    <meta charset="UTF-8">
    <title>Followers</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-navbar.css">
</head>
<body>
    <%- include('navbar') %>
    <div class="follow-list">
        <h2>Followers</h2>
        <% if (followers.length === 0) { %>
            <p>No followers.</p>
        <% } else { %>
            <ul>
                <% followers.forEach(f => { %>
                    <li>
                        <a href="/user/<%= f.username %>"><%= f.username %></a>
                    </li>
                <% }) %>
            </ul>
        <% } %>
        <a href="<%= isOwnProfile ? '/profile' : '/user/' + username %>">
            <button>Back to profile</button>
        </a>
    </div>
</body>
</html>
