 body{
    margin-top: 150px;
     background-image: var(--bg-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    z-index: 1;
}
