.profile-header {
    background-color: var(--login-box-color);
    box-shadow:0 4px 20px black;
    width: 80%;
    margin-top: 10px;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.pfp {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 15px;
}

.stats {
    display: flex;
    gap: 25px;
    font-size: 18px;
}

.stat {
    display: flex;
    gap: 5px;
    align-items: center;
    white-space: nowrap;
}

.stats a {
    color: inherit;
    text-decoration: none;
}

.stats a:hover {
    text-decoration: underline;
}

.username {
    font-size: 24px;
    margin: 0;
}

.edit-btn {
    background-color: var(--button-color);
    color: var(--texte-button-color);
    border: none;
    border-radius: 12px;
    padding: 6px 18px;
    cursor: pointer;
}


.icons{
    width:100px;
    height: 100px;
    border: 50px;
    color: var(--login-box-color);
}

/* afstand tussen icons*/
table {
    border-spacing: 40px; 
}

.lock-icon {
  width: 16px; 
  height: 16px;
  text-align: center;
}
