 body{
    margin-top: 150px;
    background-image:var(--bg-color);
    opacity: 0.9;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment:scroll;
    z-index: 1;
}